@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #1152d4;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
}

@layer base {
  body {
    @apply font-sans bg-background-light text-slate-900 dark:bg-background-dark dark:text-slate-100;
  }
}

.active-fill {
  font-variation-settings: 'FILL' 1;
}
